<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- bootstrap -->
		<link rel="stylesheet" href="../../public/bootstrap/main.css" />
		<script src="../../public/bootstrap/bootstrap.bundle.min.js"></script>

		<!-- Sweet Alert -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.33/dist/sweetalert2.all.min.js"></script>

		<title>Forget Password</title>
	</head>

	<style>
		* {
			box-sizing: border-box;
		}
		.wrapper {
			height: 100vh;
		}
		.wrapper-two {
			height: 100%;
		}

		.container {
			width: 40%;
		}

		.button {
			width: 100%;
		}

		.password,
		.re-password {
			width: 100%;
		}
	</style>
	<body class="bg-cusbgprimary">
		<div class="row wrapper justify-content-center align-items-center">
			<div class="container bg-white shadow-sm rounded">
				<div
					class="d-flex flex-column wrapper-two justify-content-start align-items-start pt-5 py-3 px-5">
					<h2 class="text-cusprimary fw-bolder mb-4">Enter new password</h2>
					<div class="password my-2">
						<label for="email">Password</label>
						<input type="password" id="password" class="form-control p-2" />
						<span id="error-password" class="text-danger"></span>
					</div>

					<div class="re-password my-2">
						<label for="email">Confirm password</label>
						<input type="password" id="re-password" class="form-control p-2" />
						<span id="error-repassword" class="text-danger"></span>
					</div>

					<span class="text-danger mt-2" id="error"></span>
					<div class="button d-flex justify-content-center mt-4">
						<button
							class="btn btn-cusbtnprimary btn-lg text-white fw-bolder"
							id="confirm-btn">
							Confirm
						</button>
					</div>
				</div>
			</div>
		</div>

		<script src="../../public/js/auth/new_password.js"></script>
	</body>
</html>
